.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='American Typewriter']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='American Typewriter']::before {
    content: 'American Typewriter';
    font-family: 'American Typewriter';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Andale Mono']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Andale Mono']::before {
    content: 'Andale Mono';
    font-family: 'Andale Mono';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Apple Chancery']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Apple Chancery']::before {
    content: 'Apple Chancery';
    font-family: 'Apple Chancery';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Arial']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Arial']::before {
    content: 'Arial';
    font-family: 'Arial';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Arial Black']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Arial Black']::before {
    content: 'Arial Black';
    font-family: 'Arial Black';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Arial Narrow']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Arial Narrow']::before {
    content: 'Arial Narrow';
    font-family: 'Arial Narrow';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Arial Rounded MT Bold']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Arial Rounded MT Bold']::before {
    content: 'Arial Rounded MT Bold';
    font-family: 'Arial Rounded MT Bold';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Arial Unicode MS']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Arial Unicode MS']::before {
    content: 'Arial Unicode MS';
    font-family: 'Arial Unicode MS';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Avenir']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Avenir']::before {
    content: 'Avenir';
    font-family: 'Avenir';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Avenir Next']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Avenir Next']::before {
    content: 'Avenir Next';
    font-family: 'Avenir Next';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Avenir Next Condensed']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Avenir Next Condensed']::before {
    content: 'Avenir Next Condensed';
    font-family: 'Avenir Next Condensed';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Bahnschrift']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Bahnschrift']::before {
    content: 'Bahnschrift';
    font-family: 'Bahnschrift';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Baskerville']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Baskerville']::before {
    content: 'Baskerville';
    font-family: 'Baskerville';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Big Caslon']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Big Caslon']::before {
    content: 'Big Caslon';
    font-family: 'Big Caslon';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Bodoni 72']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Bodoni 72']::before {
    content: 'Bodoni 72';
    font-family: 'Bodoni 72';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Bodoni 72 Oldstyle']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Bodoni 72 Oldstyle']::before {
    content: 'Bodoni 72 Oldstyle';
    font-family: 'Bodoni 72 Oldstyle';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Bodoni 72 Smallcaps']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Bodoni 72 Smallcaps']::before {
    content: 'Bodoni 72 Smallcaps';
    font-family: 'Bodoni 72 Smallcaps';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Bradley Hand']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Bradley Hand']::before {
    content: 'Bradley Hand';
    font-family: 'Bradley Hand';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Brush Script MT']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Brush Script MT']::before {
    content: 'Brush Script MT';
    font-family: 'Brush Script MT';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Calibri']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Calibri']::before {
    content: 'Calibri';
    font-family: 'Calibri';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Cambria']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Cambria']::before {
    content: 'Cambria';
    font-family: 'Cambria';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Cambria Math']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Cambria Math']::before {
    content: 'Cambria Math';
    font-family: 'Cambria Math';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Candara']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Candara']::before {
    content: 'Candara';
    font-family: 'Candara';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Chalkboard']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Chalkboard']::before {
    content: 'Chalkboard';
    font-family: 'Chalkboard';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Chalkboard SE']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Chalkboard SE']::before {
    content: 'Chalkboard SE';
    font-family: 'Chalkboard SE';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Chalkduster']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Chalkduster']::before {
    content: 'Chalkduster';
    font-family: 'Chalkduster';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Charter']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Charter']::before {
    content: 'Charter';
    font-family: 'Charter';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Cochin']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Cochin']::before {
    content: 'Cochin';
    font-family: 'Cochin';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Comic Sans MS']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Comic Sans MS']::before {
    content: 'Comic Sans MS';
    font-family: 'Comic Sans MS';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Consolas']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Consolas']::before {
    content: 'Consolas';
    font-family: 'Consolas';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Constantia']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Constantia']::before {
    content: 'Constantia';
    font-family: 'Constantia';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Copperplate']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Copperplate']::before {
    content: 'Copperplate';
    font-family: 'Copperplate';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Corbel']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Corbel']::before {
    content: 'Corbel';
    font-family: 'Corbel';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Courier']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Courier']::before {
    content: 'Courier';
    font-family: 'Courier';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Courier New']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Courier New']::before {
    content: 'Courier New';
    font-family: 'Courier New';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='DIN Alternate']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='DIN Alternate']::before {
    content: 'DIN Alternate';
    font-family: 'DIN Alternate';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='DIN Condensed']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='DIN Condensed']::before {
    content: 'DIN Condensed';
    font-family: 'DIN Condensed';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Didot']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Didot']::before {
    content: 'Didot';
    font-family: 'Didot';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Ebrima']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Ebrima']::before {
    content: 'Ebrima';
    font-family: 'Ebrima';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Franklin Gothic Medium']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Franklin Gothic Medium']::before {
    content: 'Franklin Gothic Medium';
    font-family: 'Franklin Gothic Medium';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Futura']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Futura']::before {
    content: 'Futura';
    font-family: 'Futura';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Gabriola']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Gabriola']::before {
    content: 'Gabriola';
    font-family: 'Gabriola';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Gadugi']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Gadugi']::before {
    content: 'Gadugi';
    font-family: 'Gadugi';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Geneva']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Geneva']::before {
    content: 'Geneva';
    font-family: 'Geneva';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Georgia']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Georgia']::before {
    content: 'Georgia';
    font-family: 'Georgia';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Gill Sans']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Gill Sans']::before {
    content: 'Gill Sans';
    font-family: 'Gill Sans';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Helvetica']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Helvetica']::before {
    content: 'Helvetica';
    font-family: 'Helvetica';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Helvetica Neue']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Helvetica Neue']::before {
    content: 'Helvetica Neue';
    font-family: 'Helvetica Neue';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Herculanum']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Herculanum']::before {
    content: 'Herculanum';
    font-family: 'Herculanum';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Hoefler Text']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Hoefler Text']::before {
    content: 'Hoefler Text';
    font-family: 'Hoefler Text';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='HoloLens MDL2 Assets']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='HoloLens MDL2 Assets']::before {
    content: 'HoloLens MDL2 Assets';
    font-family: 'HoloLens MDL2 Assets';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Impact']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Impact']::before {
    content: 'Impact';
    font-family: 'Impact';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Ink Free']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Ink Free']::before {
    content: 'Ink Free';
    font-family: 'Ink Free';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Javanese Text']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Javanese Text']::before {
    content: 'Javanese Text';
    font-family: 'Javanese Text';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Leelawadee UI']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Leelawadee UI']::before {
    content: 'Leelawadee UI';
    font-family: 'Leelawadee UI';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Lucida Console']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Lucida Console']::before {
    content: 'Lucida Console';
    font-family: 'Lucida Console';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Lucida Grande']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Lucida Grande']::before {
    content: 'Lucida Grande';
    font-family: 'Lucida Grande';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Lucida Sans Unicode']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Lucida Sans Unicode']::before {
    content: 'Lucida Sans Unicode';
    font-family: 'Lucida Sans Unicode';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Luminari']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Luminari']::before {
    content: 'Luminari';
    font-family: 'Luminari';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='MS Gothic']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='MS Gothic']::before {
    content: 'MS Gothic';
    font-family: 'MS Gothic';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='MV Boli']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='MV Boli']::before {
    content: 'MV Boli';
    font-family: 'MV Boli';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Malgun Gothic']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Malgun Gothic']::before {
    content: 'Malgun Gothic';
    font-family: 'Malgun Gothic';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Marker Felt']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Marker Felt']::before {
    content: 'Marker Felt';
    font-family: 'Marker Felt';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Marlett']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Marlett']::before {
    content: 'Marlett';
    font-family: 'Marlett';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Menlo']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Menlo']::before {
    content: 'Menlo';
    font-family: 'Menlo';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft Himalaya']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft Himalaya']::before {
    content: 'Microsoft Himalaya';
    font-family: 'Microsoft Himalaya';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft JhengHei']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft JhengHei']::before {
    content: 'Microsoft JhengHei';
    font-family: 'Microsoft JhengHei';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft New Tai Lue']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft New Tai Lue']::before {
    content: 'Microsoft New Tai Lue';
    font-family: 'Microsoft New Tai Lue';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft PhagsPa']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft PhagsPa']::before {
    content: 'Microsoft PhagsPa';
    font-family: 'Microsoft PhagsPa';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft Sans Serif']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft Sans Serif']::before {
    content: 'Microsoft Sans Serif';
    font-family: 'Microsoft Sans Serif';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft Tai Le']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft Tai Le']::before {
    content: 'Microsoft Tai Le';
    font-family: 'Microsoft Tai Le';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft YaHei']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft YaHei']::before {
    content: 'Microsoft YaHei';
    font-family: 'Microsoft YaHei';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Microsoft Yi Baiti']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Microsoft Yi Baiti']::before {
    content: 'Microsoft Yi Baiti';
    font-family: 'Microsoft Yi Baiti';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='MingLiU-ExtB']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='MingLiU-ExtB']::before {
    content: 'MingLiU-ExtB';
    font-family: 'MingLiU-ExtB';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Monaco']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Monaco']::before {
    content: 'Monaco';
    font-family: 'Monaco';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Mongolian Baiti']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Mongolian Baiti']::before {
    content: 'Mongolian Baiti';
    font-family: 'Mongolian Baiti';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Myanmar Text']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Myanmar Text']::before {
    content: 'Myanmar Text';
    font-family: 'Myanmar Text';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Nirmala UI']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Nirmala UI']::before {
    content: 'Nirmala UI';
    font-family: 'Nirmala UI';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Noteworthy']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Noteworthy']::before {
    content: 'Noteworthy';
    font-family: 'Noteworthy';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Optima']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Optima']::before {
    content: 'Optima';
    font-family: 'Optima';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Palatino']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Palatino']::before {
    content: 'Palatino';
    font-family: 'Palatino';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Palatino Linotype']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Palatino Linotype']::before {
    content: 'Palatino Linotype';
    font-family: 'Palatino Linotype';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Papyrus']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Papyrus']::before {
    content: 'Papyrus';
    font-family: 'Papyrus';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Phosphate']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Phosphate']::before {
    content: 'Phosphate';
    font-family: 'Phosphate';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Rockwell']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Rockwell']::before {
    content: 'Rockwell';
    font-family: 'Rockwell';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Savoye LET']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Savoye LET']::before {
    content: 'Savoye LET';
    font-family: 'Savoye LET';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe MDL2 Assets']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe MDL2 Assets']::before {
    content: 'Segoe MDL2 Assets';
    font-family: 'Segoe MDL2 Assets';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe Print']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe Print']::before {
    content: 'Segoe Print';
    font-family: 'Segoe Print';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe Script']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe Script']::before {
    content: 'Segoe Script';
    font-family: 'Segoe Script';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe UI']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe UI']::before {
    content: 'Segoe UI';
    font-family: 'Segoe UI';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe UI Emoji']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe UI Emoji']::before {
    content: 'Segoe UI Emoji';
    font-family: 'Segoe UI Emoji';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe UI Historic']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe UI Historic']::before {
    content: 'Segoe UI Historic';
    font-family: 'Segoe UI Historic';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Segoe UI Symbol']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Segoe UI Symbol']::before {
    content: 'Segoe UI Symbol';
    font-family: 'Segoe UI Symbol';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='SignPainter']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='SignPainter']::before {
    content: 'SignPainter';
    font-family: 'SignPainter';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='SimSun']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='SimSun']::before {
    content: 'SimSun';
    font-family: 'SimSun';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Sitka']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Sitka']::before {
    content: 'Sitka';
    font-family: 'Sitka';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Skia']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Skia']::before {
    content: 'Skia';
    font-family: 'Skia';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Snell Roundhand']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Snell Roundhand']::before {
    content: 'Snell Roundhand';
    font-family: 'Snell Roundhand';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Sylfaen']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Sylfaen']::before {
    content: 'Sylfaen';
    font-family: 'Sylfaen';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Symbol']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Symbol']::before {
    content: 'Symbol';
    font-family: 'Symbol';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Tahoma']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Tahoma']::before {
    content: 'Tahoma';
    font-family: 'Tahoma';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Times']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Times']::before {
    content: 'Times';
    font-family: 'Times';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Times New Roman']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Times New Roman']::before {
    content: 'Times New Roman';
    font-family: 'Times New Roman';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Trattatello']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Trattatello']::before {
    content: 'Trattatello';
    font-family: 'Trattatello';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Trebuchet MS']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Trebuchet MS']::before {
    content: 'Trebuchet MS';
    font-family: 'Trebuchet MS';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Verdana']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Verdana']::before {
    content: 'Verdana';
    font-family: 'Verdana';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Webdings']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Webdings']::before {
    content: 'Webdings';
    font-family: 'Webdings';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Wingdings']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Wingdings']::before {
    content: 'Wingdings';
    font-family: 'Wingdings';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Yu Gothic']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Yu Gothic']::before {
    content: 'Yu Gothic';
    font-family: 'Yu Gothic';
}

.ql-snow .ql-picker.ql-font .ql-picker-label[data-value='Zapfino']::before,
.ql-snow .ql-picker.ql-font .ql-picker-item[data-value='Zapfino']::before {
    content: 'Zapfino';
    font-family: 'Zapfino';
}